.resume-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}
input[type='text'],
input[type='email'],
input[type='file'],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
textarea {
  height: 80px;
}
.submit-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #218838;
}
